<article>
  <img class="listing-photo" [src]="housingLocation?.photo">
  <section class="listing-description">
    <h2 class="listing-heading">{{housingLocation?.name}}</h2>
    <p class="listing-location"> {{housingLocation?.city}}, {{housingLocation?.state}}</p>
  </section>
  <section class="listing-features">
    @if (housingLocation && housingLocation.units> 0)  {
      <h2 class="section-heading">
        About this housing location
      </h2>
    }
    <ul>
      @if (housingLocation && housingLocation!.units === 0) {
        <li class="no-units-available">No available units!</li>
      }
      @else {
        <li>Units available: {{housingLocation?.units}}</li>
      }
      <li>Does this location have wifi: {{housingLocation?.wifi}}</li>
      <li>Does this location have laundry: {{housingLocation?.laundry}}</li>
    </ul>
  </section>
  <section class="listing-apply">
    @if (housingLocation && housingLocation.units> 0)  {
    <form [formGroup]="applyForm" (ngSubmit)="submitApplication()">
    <h2 class="section-heading"> Apply now to live here</h2>
      <label for="first-name">First Name</label>
      <input id="first-name" type="text" formControlName="firstName">

      <label for="last-name">Last Name</label>
      <input id="last-name" type="text" formControlName="lastName">

      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email">

      <button class="primary" type="submit"> Apply now </button>
    </form>
    }
  </section>
</article>
